@import "../../mixins";

.header {
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-block-end: 1px solid #cbcbcb;

    .header__logo {
        font-weight: 900;
        a {
            text-decoration: none;
            color: inherit;
        }
    }

    .header__nav {
        @include nav;
    }

    .header__options {
        display: flex;
        align-items: center;
        gap: 1rem;

        .header__user-button {
            font-size: 1.45rem;
        }

        .header__cart-button {
            font-size: 1.3rem;
        }

    }

}