@import "../../mixins";

.header {
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-block-end: 1px solid #cbcbcb;
    
    a {
        text-decoration: none;
        color: inherit;
    }

    @include media(small) {
        padding: 1rem;
    }

    .header__menu-button {
        font-size: 1.45rem;
        display: none;

        @include media(small) {
            display: block;
        }
    }

    .header__logo {
        font-weight: 900;
    }

    .header__nav {
        @include media(small) {
            display: none;
        }
    }

    .header__options {
        display: flex;
        align-items: center;
        gap: 1rem;

        .header__user-button {
            font-size: 1.45rem;
        }

        .header__cart-button {
            font-size: 1.3rem;
        }

    }

    .header__menu {
        position: fixed;
        inset: 0;
        right: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.15s;

        .menu {
            width: 60%;
            height: 100%;
            background-color: #fff;
            display: flex;
            flex-flow: column;
            align-items: flex-end;

            .menu__close-button {
                margin: 1rem;
                color: #f00;
                font-size: 2rem;
                cursor: pointer;
                margin-block-end: 2rem;
            }

            .menu__content {
                width: 100%;
                font-size: 1.25rem;
            }
        }

    }

    .header__menu--open {
        right: 0;
    }
}