@import "../../mixins";

.footer {
    padding: 1rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;

    @include media(small) {
        padding: 1rem;
    }
}