@import "../../mixins";

.navigation {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 2rem;

        @include media(small) {
            flex-flow: column;
            gap: 1.25rem;
            align-items: center;
        }
    }
    li {
        cursor: pointer;
        
        &:hover {
            text-decoration: underline;
        }
    }
    a {
        text-decoration: none;
        color: inherit;
    } 
}