@mixin nav {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 2rem;
    }
    li {
        cursor: pointer;
        
        &:hover {
            text-decoration: underline;
        }
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}